<div xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-inverse" style="font-variant: small-caps;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>

                <th:block th:if="${#request.remoteUser}">
                    <li><button ng-click="cart.clear()"><a th:href="@{/security/logoff}">Sign Out</a></button></li>
                    <li><a th:href="@{/order/list}">Your Orders</a></li>
                    <li th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
                        <a th:href="@{/admin/home/index}">Administration</a>
                    </li>
                </th:block>
                <th:block th:unless="${#request.remoteUser}">
                    <li><a th:href="@{/security/login/form}">Sign In</a></li>
                </th:block>
            </ul>
            <ul th:if="${#request.remoteUser}" class="nav navbar-nav navbar-right">
                <li><a href="">Welcome you [[${#request.remoteUser}]]</a></li>
            </ul>
        </div>
      
        <div class="mt-4 d-flex align-items-center  ">
            <div class="form-check-input" type="checkbox" value="">
           <div style="color: beige;">chon san pham</div>  
              
            <select class="form-control form-control-sm  checkbox-select-all-options" id="" ng-options="item for item in select" ng-model="selectitem">
            </select>
            
             <button  class="btn btn-primary btn-sm" ng-click="select(selectitem)">Tim Kiem</button>
            </div>
        
        </div>
    
    <style>
    .checkbox-select-all-options{
        width: 200px;
        margin: 1 20px;
        float: left;
       

    
    }
   
    </style>
</div>


    </nav>
   